.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 7%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 28px;
  font-weight: 700;
  color: #ff5722;
}

.search {
  display: flex;
  align-items: center;
  width: 35%;
  background: #f5f5f5;
  border-radius: 30px;
  padding: 10px 18px;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  margin-left: 10px;
  font-size: 15px;
}

.searchIcon {
  color: #777;
}

.links {
  display: flex;
  gap: 35px;
}

.links a {
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.links a:hover {
  color: #ff5722;
}

.wish{
  position: relative;
  cursor: pointer;
  color: #333;
}



.cart {
  position: relative;
  cursor: pointer;
  color: #333;
}

.badge {
  position: absolute;
  top: -10px;
  right: -12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff5722;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

/* ---------- Tablet ---------- */

@media (max-width: 900px) {
  .search {
    width: 45%;
  }

  .links {
    gap: 20px;
  }
}

/* ---------- Mobile ---------- */

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    gap: 20px;
  }

  .logo {
    width: 100%;
    justify-content: center;
  }

  .search {
    order: 3;
    width: 100%;
  }

  .links {
    width: 100%;
    justify-content: center;
  }

  .cart {
    position: absolute;
    top: 25px;
    right: 20px;
  }
}
